@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

.App{
  height:100%;
  /* position: relative; */
}
/* 
.phil{
  border: 3px solid #e20017;
  position:relative;
  z-index:5;
}

.App > div:nth-of-type(3){
  border: 3px solid #66e200;
  position:relative;
  z-index:2;
}

.App > div:nth-of-type(4){
  border: 3px solid #66e200;
  position:relative;
  z-index:2;
}

.App > div:nth-of-type(5){
  border: 3px solid #66e200;
  position:relative;
  z-index:2;
}

.App > div:nth-of-type(6){
  border: 3px solid #66e200;
  position:relative;
  z-index:2;
} */


:root {
  font-family: 'Martel Sans', Verdana, Geneva, Tahoma, sans-serif;

  --mainWhite: #ffffff;
  --lightGrey: #bbbbbb;
  --darkGrey: #808080;
  --mainBlack: #151515;
  --mainRed: #e20017;
}

body {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth;
  
  /* becaus the slider has items outside of the page, overflow hidden does not work with zoom item */
  overflow-x: hidden;

}

.text-white {
  color: var(--mainWhite);
}

.text-light-grey {
  color: var(--lightGrey);
}

.text-dark-grey {
  color: var(--darkGrey);
}

.text-title {
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

/* .btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlue);
  border: 0.1rem solid var(--mainDark) !important;
} */

.btn-black:hover {
  background: var(--lightGrey) !important;
}
