.video-player {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9090909;
}

.video-headline {
  position: fixed;
  top: 0;
  /* transform: translateY(-40px); */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.322);
  padding: 2rem 4rem;
  color: white;
  z-index: 20;
  transition: 0.4s;
  cursor: pointer;
}

/* .video-player:hover .video-headline {
  transform: translateY(0);
} */

.video {
  display: block;
  width: calc(100vh * 640 / 320);
  max-height: calc(100vw * 320 / 640);
}
